{
"azp": {{identity.entity.metadata.spiffe_id}},
"userinfo": 
    {
        "department": {{identity.entity.metadata.department}}, 
        "role": {{identity.entity.metadata.role}}, 
        "entity_name": {{identity.entity.name}}, 
        "entity_id": {{identity.entity.id}}
    }
}